:root {
  --primary-color: #1024ff;
  --secondary-color: white;
}
.hidden {
  display: none !important;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans_Condensed-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {

  font-family: 'OpenSans';

}
a{
  text-decoration: none;
  color: inherit;
}
.navbar {
  transition: background-color 0.5s;
}


.navbar .nav-link {
  position: relative;
}
.navbar .nav-link {
  position: relative;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--secondary-color);
  transition: width 0.4s ease;
}

.navbar .nav-link.active::after,
.navbar .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: var(--secondary-color);
}

.navbar-brand img {
  height: 50px;
}

.navbar-transparent .navbar-brand svg {
  width: 185px;
  height: 87px;
}

/* .navbar-brand {
  transition: all 1s;
} */

.navbar-brand svg {
  transition: all .5s;
  width: 111px;
  height: 30px;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-sticky {
  background-color: var(--primary-color);
}

#custom-nav-links .nav-link {
  cursor: pointer;
  font-size: 1.2rem;
}

.carousel-inner {
  /* filter: brightness(0.3); */
}

.carousel-inner .carousel-item{
  /* filter: brightness(0.3); */
}

.carousel-inner .carousel-item .carousel_caption_sty{
  /* filter: brightness(1) !important; */
}


.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}


.carousel_caption_sty h1 {
  font-size: 3rem;
  font-weight: bold;
}
.carousel_caption_sty p {
  font-size: 125%;
}
.head_text{
  font-weight: bolder;
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
    text-align: center;
    padding-bottom: 1rem;


}

.all_flex{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.btn-primary{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
#scroll-down {
  position: absolute;
    bottom: 3%;
    left: 50%;
    font-size: 3rem;
    transform: translateX(-50%);
    color: white;
    font-weight: 700;
    font-weight: 800;
    opacity: .5;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    filter: brightness(.5);
    animation: animate-scroll-down 1s infinite;
}
@keyframes animate-scroll-down {
  0% {
    bottom: 3%;
    filter: brightness(.5);
  }
  50% {
    bottom: 4%;
    filter: brightness(1);
  }
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.features .feature {
text-align: center;
padding: 20px;
transition: transform 0.3s ease-in-out;
}

.features .feature:hover {
transform: translateY(-10px);
}

.features .feature i,
.services .service i {
font-size: 3rem;
color: var(--primary-color);
margin-bottom: 20px;
}

.career-form input,
.career-form button {
  margin-top: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  transition: opacity 0.4s ease;
}

.back-to-top.show {
  display: block;
  opacity: 1;
  z-index: 1;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  
}
.back-to-top i {
  font-size: 1.5rem;
  color: var(--primary-color);
  filter: drop-shadow(0 0 1px var(--secondary-color));
}

.last_section{
  /* background-color: var(--primary-color); */
  /* color: var(--secondary-color); */
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
}


.btn .is-submitting {
  display: none;
}
.btn.submitting .is-submitting {
  display: inline;
}
.btn .is-not-submitting {
  display: inline;
}
.btn.submitting .is-not-submitting {
  display: none;
}


.social-icons i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

section:not(#home)  {
  margin-top: 4rem;
  padding-block: 1rem;
  min-height: 79vh;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}





/* momen edit */

p{
  font-size: 1.7rem;
}
.btn_padding{
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1.4rem;
}

.image_about{
  border-radius: 1.5rem;
}

.head_text{
  font-weight: bolder;
    border-bottom: 1px solid var(--primary-color);
    width: fit-content;
    text-align: center;
    padding-bottom: 1rem;


}

.all_flex{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.btn-primary{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.row_contentus{
display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}


.social-icons {
  font-size: 2.5rem;
}

ul.Service_ul li {
  list-style: none;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;


}

ul.Service_ul li:before {
  background: #006AFF;
  border-radius: 50%;
  content: '';
  display: inline-block;    
  height: 10px;  
  margin-right: 6px;
  width: 10px;
}




.info_footer{
  font-size: 1.2rem;
  /* color:  #B9B9B9; */
}
.divider_pa{
  position: absolute;
}

.divider {
  width: 48px;
  height: 3px;
  background: var(--primary-color);
}

.carousel_caption_sty::after{
  border-top: 5px solid var(--primary-color); 
  content: ""; 
  /* margin: 0px auto;  */
  position: absolute; 
  top: 0%; 
  left: 15%;
  right: 0px; 
  bottom: 0px; 
  width: 10%; 
  /* padding: 1rem; */
}

.carousel_caption_sty {
  text-align: start;
  top: 40%;
  /* right: unset; */
  left: 0%;
  padding-top: 1rem;
  padding-left: 15%;

  /* transform: translateY(60%); */
  /* z-index: 1; */
  /* font-weight: 800; */
  position: absolute;
  width: 100%;
  /* font-size: 1.6rem; */
  color: rgb(241, 223, 223) !important;
  /* padding: 1rem; */
  /* background-color: rgba(230, 240, 248,0.4) ; */
  border-radius: 1rem;

}



.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("./../../imgs/container.gif") 50% 50% no-repeat rgb(255, 255, 255);
  background-size: 10%;
  transition: all 5000ms;
}



.services-grid {
  gap: 3rem;
}

.services-grid .card.service {
  text-align: center;
  padding:  0px;
  transition: transform 0.3s ease-in-out;
}

.services-grid .card.service:hover {
  transform: translateY(-15px);
  filter: drop-shadow(0 0 1px var(--primary-color));
}

.services-grid .card-body {
  display: flex;
  flex-direction: column;
  text-align: start;

}

.services-grid .card-body .btn {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.services-grid .card-body .btn a {
  position: relative;
  z-index: 1;
  color: var(--secondary-color);
  text-decoration: none;
}

.services-grid .card-body .btn:hover a {
  color: black;
}

.services-grid .card-body .btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  width: 0%;
  height: 100%;
  opacity: .6;
  background: var(--secondary-color);
  transform: skew(22deg);
  transition: .5s;
  z-index: 0;
}

.services-grid .card-body .btn:hover::before {
  width: 120%;
  opacity: 1;
}


.services-grid .card-body .card-text {
  font-size: 1.2rem;
  flex-grow: 1;
  text-align: left;

}

.services-grid .card-body .card-title {
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 768px) {
  .row_contentus {
  
    align-content: center;
    justify-content: center;
    align-items: center;
}
}